.container{
    padding: 110px 200px;

}

.example-card {
    max-width: 100%;
    margin-bottom: 8px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}


.mat-card-subtitle{

    text-align: justify;
    max-width: 100%;
    padding: 10px;   
     
}
 
.mat-card-title{
    padding: 10px;  
    font-style: italic;
    font-size: 40px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.mat-card-subtitle{
    font-size: 20px;
}

